.project_holder{
    display: flex;  
    flex-direction: column;
}

.project_card{
    display:grid;
    grid-template-columns: 70% 30%;
    height: 35vh;
    margin:3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
      
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1vw;
    color: rgb(0, 0, 0);
}

.project_card:hover{
    
    /* margin-right: 1vw;
    margin-left: 1vw; */
    background: rgba(255, 255, 255, 1);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 500ms;
}



.descript{
    padding: 2vh;
    padding-left: 3vw;
}

.descript p+div{
    height: 11vh;
    width: 60vw;
    text-align:justify;
}

.descript p{
    font-size:4vh;
}

.descript div p{
    font-size:1.1vw;
}


.descript i{
    margin-left:1vw;
    font-size: 2vw;
}

.descript i:hover{
    color: rgb(10, 143, 114);
}

.descript i+i:hover{
    color: rgb(184, 9, 9);
}

.descript i+i+i:hover{
    color: rgb(9, 120, 184);
}

.proj_img{
    
    height: 100%;
}


.technologies{
    display:grid;
    height:8vh;
    grid-template-columns: auto 19%;
    padding:0.6vw;
    border-radius:5vw;
    border-top-right-radius:1vw;
    border-bottom-right-radius:1vw;
    margin-top: 4vh;
    align-items: center;
    background-color:rgb(224, 234, 236);
    
}


.tec_img{
    height:1.6vw;
    margin-left: 0.6vw;
}


.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
  }
  
.heading h1{
    margin:0;
    margin-left: 0.6vw;;
}

.heading_bar{
    height: 40px;
    width: 6px;
    background: rgb(136, 134, 134);
    transition-duration: 500ms;
}

.heading_bar:hover{
    height: 20px;
    width: 12px;
    border-radius: 10px;
}

.CV{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: 76vw;
    height:50px;
    width: 140px;
    color:antiquewhite;
    background:rgb(9, 120, 184);
    border-radius: 10px;
    border: 3px solid rgb(26, 126, 184);
    transition-duration: 300ms;
}

.CV:hover{
    background:rgb(9, 120, 184);
    border: 3px solid rgb(93, 194, 224);
}

#mainIcon {
    color:rgb(37, 41, 40);
    font-size:50px;
    animation: start_anim 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

#mainIcon:hover{
    
    animation: start_anim 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
   }

@keyframes start_anim {
    0%, 15%, 25%, 100% {
        color:rgb(37, 41, 40);
        
    }


    20%, 30%, 50% {
        color:rgb(0, 163, 149);
    }
}


